body {
    background-color: rgb(119, 119, 119);
    display: flex;
    padding: 2vh;  
    gap: 20%;
}

#container {
    width: 92vw;
    height: 92vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#drawing-box {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
#drawing-box div {
    border: 1px solid rgba(0, 0, 0, 0.055);
    background-color: white;
    box-sizing: border-box;
}